.gui-menu-item{
    font-style: oblique;
    font-variant-caps: titling-caps; 
    font-size: 0.7em; 
    font-weight: bold;
    color: rgba( 56, 90, 110, 0.792 );
    transform: translateY(15%);
}

.pop-up{
    cursor: help
}

.ui-button-icon-only .ui-icon {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -8px;
	margin-left: -9px;
}

.ui-icon {
	width: 18px;
}
.ui-resizable-handle{
    background-color: rgba( 111, 115, 118, 0.15);
    height: 2.5px;
    opacity: 0;
}

#resizable { 
    min-height: 200px;
    height: 250px;
    max-height: 600px;
    background-color: #efefef;
}

#resizable1 { 
    min-height: 300px;
    height: 350px;
    max-height: 600px;
    background-color: #efefef;
}

.ui-button {
    height: 30px;
    width: 37px;
    padding: 0px;
    font-size: 0.6em;
}

.ui-spinner {
    width: 43px;
    height: 30px;
    padding: 2px;
    font-size: 0.9em;
    transform: translate(5%,-10%);
}

#bnt-table.td {
    padding: 0px;
}

.ui-icon{
    width: 18px;
    height: 15px;
    padding: 0px;
}

.ui-spinner-button{
    background-color: transparent;
    width: 10px;
    height: 15px;
    padding: 0px
    
}

.ui-menu-item{
    font-size: 0.65em;
    padding: 0px;
    margin: 1px
}

.ui-widget-content {
    border-right-width: none;
    background-color: #efefef;
}

.panel-default {
    background-color: rgba( 255, 255, 255, 0 );
    border: 0px;
    border-radius: 5px;
}

.scroll {
    height: inherit;
}

.graph {
    background-color: #efefef;
    border: 0px;
    max-height: inherit;
    height: inherit;
    overflow-y: hidden;
}

.my-container-resize {
    height: 85%;
    overflow-y: auto;
    padding-right: 0;
    background-color: #efefef;
}



.sidebar-nav {
    height: inherit;
}

#sidenav {
    height: 250px;
    padding: 5px;
}

body {
    background-color: rgba( 223, 225, 225, 0.604 );
    overflow-y: hidden;
}

#cmp {
    cursor: help;
}

.delete-btn {
    background-color:transparent; 
    border-radius: 10px;
    transform: translateY(-10%);
    border-width: 0px;
    padding: 0px;
    background-color: rgba( 191, 191, 191, 0.0 );
}

.delete-img{
    transform: translateY(0%);
    width: 20px;
    height: 20px;
}

p {
    margin: 0;
}

.colorP {
    width: 20px;
    height: 20px;
    padding: 0px;
    margin: 0px;
    border-radius: 5px;
}

.panel-collapse {
    max-height: 97px;
    overflow-y: auto;
}

.al {
    max-height: 40px;
    overflow-y: auto;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#authViz {
    background-color: rgba( 224, 225, 225, 0.204 );
    border-radius: 5px;
    border-width: 1px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    width: 90%;
    font-size: 0.9em;
}

#tbRow4 {
    margin: 1px;
    padding-top: 2px;
    height: 30px
}

text {
    pointer-events: none;
}

#tb-svg {
    height: 100%;
    width: 40%;
    position: absolute;
    pointer-events: none;
    z-index: 999;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}


.stat {
    font-size: 0.8em;
    font-style: italic;
}

.auth-name{
    position: absolute
}

#authTable {
    height: inherit;
    width: inherit
}

.authNode, .authlLine {
    cursor: pointer
}

.authLine {
    height: 10px;
    padding: 1px;
}
.authline {
    height: inherit;
    padding: 0px;
}

.auth-name {
    cursor: pointer
}

.stat {
    text-align: center;
}


.svgA {
    width: 100%;
    height: 18px;
    padding: 0;
}


a {
    cursor:auto;
}

.panel-title:hover {
     cursor: pointer;
}

.panel-default {
    margin-bottom: 0px;
}

a {
    padding: 2px;
    text-rendering: optimizeLegibility;
    color: #6666a3
}

.panel-heading {
    padding: 0px;
    height: 16px;
    background-color: black;
}

.panelDefault {
    background-color: black;
    padding: 0px;
}

.area-labels, .area-text{
    font-size: 1.6em; 
    font-variant-caps: petite-caps;
    
}

.list-group {
    margin-top: 1px;
    margin-bottom: 1px;
}

.panel-body{
    padding:5px;
}

td.list-group-item {
    width: 100%;
}

#pruning-table {
    width: 100%;
    font-size: 0.9em;
}

.trP{
    border: 1px solid rgba( 122, 122, 122, 0.533 );
    border-right: 0px;
    padding:1px;
    border-left: 0px;
    cursor: pointer;
    width: 20%;
    text-align: center;
    font-size: 0.9em
}

.trPj{
    width: 100%;
    border: 1px solid rgba( 122, 122, 122, 0.533 );
    border-right: 0px;
    padding:1px;
    border-left: 0px;
    text-align: center;
    font-size: 0.9em
}


.tdj{
    width: auto;
    text-align: center
}

.thP{
    font-size: 0.9em
}

th{
    text-align: left;
width: 15%;
}

.paper_in_bars{
    cursor: pointer
}

#paperInfo{
    font-size: 0.9em;
}

.list-group-item {
    background-color: rgba( 71, 66, 66, 0);
    padding: 1px;
    border-width: 0;
    width: 100%;
    border-radius: 4px;
    cursor: pointer;
}

.listG {
    cursor: default;
}

#papL {
    max-height: 120px;
    overflow-y: auto;
    overflow-x: auto;
    font-size: 0.9em;
}

#aal, #raal {
    max-height: 120px;
    overflow-y: auto;
    font-size: 0.9em;
}

.element {
    border-top: 1px solid rgba( 122, 122, 122, 0.449 );
}

#pi {   
    max-height: 245px;
    overflow-y: auto;
}

#toolbox {
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0px;
    background-color: #efefef;
}

.line{
    cursor: not-allowed;
}

#thetaPap {
    transform: translate(5%, 2px);
    width: 90.5%
}

#rauthList{
    max-height: inherit;
}
#MNP, #MNoC   {
    cursor: help
}

#thetaPapCb{
    cursor: help
}

#searchfield { 
    display: block; 
    width: 100%; 
    text-align: center;}

.row {
    padding: 2px;
    margin-left: 0px;
    margin-right: 0px;
}

#searchfield form {
  display: inline-block;
  background: #eeefed;
  padding: 0;
  margin: 0;
  padding: 5px;
  border-radius: 3px;
}

.checkbox-inline, .radio-inline {
    transform: translate(10%, -20%);
    padding: 0;
    font-size: 0.7em
}

#bnt-table{
    text-align: left;
    transform:translateX(1%);
    margin: 0px;
}

.checkB{
    transform: translate(30%, 5%);
}

#searchfield form .biginput {
  width: 600px;
  height: 25px;
  padding: 0 3px 0 3px;
  background-color: #fff;
  border: 0;
  border-radius: 3px;
  color: #aeaeae;
  font-weight:normal;
  font-size: 0.9em;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
#searchfield form .biginput:focus {
  color: #858585;
}

#ui-id-2, #ui-id-1, #ui-id-3, .ui-autocomplete {
	border: 0px;
	max-height: 150px;
	max-width: 350px;
	background: rgba( 234, 234, 234, 0.934 );
	cursor: default;
	overflow-y: auto;
	overflow-x: hidden;
}

.replacement{
    font-size: 0.7em;
    font-style: italic;
    cursor: pointer;
    width: auto;
}

.links line {
  stroke: #999;
  stroke-opacity: 0.6;
}


.nodes circle {
  stroke-width: 1px;
  cursor: pointer
}

#logo {
	position: relative;
	width: 95px;
	height: 100px;
}

#titleLogo{
    font-variant-caps: petite-caps; 
    color: #385e84;
}

footer {
    height: 30px
}

.dblp-ico{
    width: 20px;
    height: 20px;
}

#startMsg {
	position: absolute;
	background-color: #efefef;
	height: inherit;
	overflow-y: hidden;
	overflow-x: hidden;
	width: 100%;
	height: 100%;
	padding: 3px;
	text-align: center;
	align-content: center;
}

hr {
    color: black;
    border-width: 1px;
    border-color: #4e5988
}

.noptr{
    pointer-events: none
}

.links {
   cursor: pointer;
    font-style: oblique;
}

.badge {
    float: right;
    position: absolute;
    background-color: rgba( 78, 89, 136, 0.298 );
    transform:  translateY(-10%)scale(0.8);
}

.col-sm-8 {
    min-height: inherit;
    max-height: inherit;
    height: inherit;
}

#aut_table {
    height: inherit
}
#AG-container {
    max-height: inherit;
    height: inherit;
    min-height: inherit;
    overflow-y: hidden;
    padding: 0;
}

#AG-col {
    max-height: inherit;
    height: inherit;
    min-height: inherit;
    padding: 0
}

.loader {
   position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid rgba( 255, 255, 255, 0.456 );
  border-radius: 50%;
  border-top: 16px solid rgba( 30, 161, 255, 0.869 );
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


#svgAG_names, #svgAxis, #svgRT {
    position: absolute;
    background-color: "rgba( 0, 0, 0, 0 )";
    pointer-events: none;
}
#cmpa{
    pointer-events: all
}
.label-txtspan{
    font-size: 0.8em;
    font-style: italic;
    font-variant-caps: all-petite-caps;
    pointer-events: all
}

#scale{
    font-size: 1em;
    font-style: italic;
    pointer-events: none;
    opacity: 0.4;
}

.label-txtspanL{
    font-size: 0.5em;
    font-variant-caps:small-caps;
    pointer-events: none
}

#loading {
    width: 100%;
    height: 100%;
    text-align: center;
    color: rgba( 0, 0, 0, 0.567 );
    font-size: 1em;
    font-weight: bold;
    font-style: normal;
    background-color: #d8d8d8;/*rgba( 59, 184, 174, 0.15 );*/
    z-index:    10;
    top:        0; 
    left:       0; 
    position:   fixed;
}



#cmpa {
    opacity: 0.2
}


.cssload-loader {
	width: 244px;
	height: 49px;
	line-height: 49px;
	text-align: center;
	position: absolute;
	left: 50%;
	transform: translate(-50%, -50%);
		-o-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		-webkit-transform: translate(-50%, -50%);
		-moz-transform: translate(-50%, -50%);
	font-family: helvetica, arial, sans-serif;
	text-transform: uppercase;
	font-weight: 900;
	font-size:16px;
	color: rgb(61,61,61);
	letter-spacing: 0.2em;
    pointer-events: none;
}
.cssload-loader::before, .cssload-loader::after {
	content: "";
	display: block;
	width: 15px;
	height: 15px;
	background: rgb(64,118,235);
	position: absolute;
	animation: cssload-load 0.91s infinite alternate ease-in-out;
		-o-animation: cssload-load 0.91s infinite alternate ease-in-out;
		-ms-animation: cssload-load 0.91s infinite alternate ease-in-out;
		-webkit-animation: cssload-load 0.91s infinite alternate ease-in-out;
		-moz-animation: cssload-load 0.91s infinite alternate ease-in-out;
}
.cssload-loader::before {
	top: 0;
}
.cssload-loader::after {
	bottom: 0;
}

.cssload-loader{
    top: 10%;
}


@keyframes cssload-load {
	0% {
		left: 0;
		height: 29px;
		width: 15px;
	}
	50% {
		height: 8px;
		width: 39px;
	}
	100% {
		left: 229px;
		height: 29px;
		width: 15px;
	}
}

@-o-keyframes cssload-load {
	0% {
		left: 0;
		height: 29px;
		width: 15px;
	}
	50% {
		height: 8px;
		width: 39px;
	}
	100% {
		left: 229px;
		height: 29px;
		width: 15px;
	}
}

@-ms-keyframes cssload-load {
	0% {
		left: 0;
		height: 29px;
		width: 15px;
	}
	50% {
		height: 8px;
		width: 39px;
	}
	100% {
		left: 229px;
		height: 29px;
		width: 15px;
	}
}

@-webkit-keyframes cssload-load {
	0% {
		left: 0;
		height: 29px;
		width: 15px;
	}
	50% {
		height: 8px;
		width: 39px;
	}
	100% {
		left: 229px;
		height: 29px;
		width: 15px;
	}
}

@-moz-keyframes cssload-load {
	0% {
		left: 0;
		height: 29px;
		width: 15px;
	}
	50% {
		height: 8px;
		width: 39px;
	}
	100% {
		left: 229px;
		height: 29px;
		width: 15px;
	}
}

.pAuthe {
    color:  #be27be;
    cursor: pointer;
    font-size: 0.8em;
    
}

.pAuthc {
    color: #db0000; /*red and italic*/
    cursor: pointer;
    font-style: italic;
    font-size: 0.75em;
    
}

.pAuthr {
    color: #5263fe;
}

#row22 {
    height: auto;
}

.container-fluid {
	padding-right: 0px;
	padding-left: 0;
	margin-right: auto;
	margin-left: auto;
}


.td1 {
    width: 30%;
}

.button-label {
    width: 30%;
    padding-bottom: 2%;
}

.td2 {
    width: 10%
}


form{
    width: 99%;
    height: 90%;
}

.td2title {
    width: 80%;
    font-size: 0.8em;
    cursor: pointer
}

.td1pi {
    width: 18%;
}

.side-tab{
    height: auto
}

#ghl {
    width: 20px;
    height: 20px;
    transform: translate(5%, -5%)
}

#ghs {
    width: 30px;
    height: 30px;
    transform: translateY(-20%)
}

#tbRow1 {
    height: auto;
    margin-bottom: 0px;
}



#raal{
    max-height: 90px;
}

table#bnt-table td {
    padding: 1px;
    transform: translateX(1%)
}

#tutorial, #done_submit{
	height: 25px;
	/* padding: 5px; */
	/* padding-right: 8px; */
	width: 25px;
	border-radius: 15px;
    float: rightS
}
.done_submit {
	height: 6%;
	/* padding: 5px; */
	/* padding-right: 8px; */
	width: 6%;
	border-radius: 50%;
	transform: translate(45%, 45%)scale(0.8);
}


.my-dialog {
    overflow-y: auto;
    
}


#export-list {
    position: absolute;
	width: 100%;
    height: 100%;
    background-color: #efefef;
}

.tli{
    width: inherit;
    text-align: left;
    background-color: inherit
}

.eli{
    width: inherit;
    text-align: left;
    background-color: inherit
}

.eli-title{
    font-weight: bold;
    font-size: 1em;
}

.eli-title1{
    font-weight: bold;
    font-size: 1em;
}

.eli-item{
    font-size: 0.9em;
}

.eli-alt{
    font-size: 0.77em;
    font-style: italic;
}


.eli-autp{
    font-size: 0.8em;
}

.eli-pap{
    font-style: italic;
}


.done-btn {
    width: 100%;
    height: 100%;
}
.tdp {
    transform: translateX(-15%);
    padding: 0px;
    border: 0px;
}

.spinner{
    height: 20px;
    width: auto;
}

.my-ico{
    width: 40px;
    height: 40px
}
.cmpClass {
    transform: translateY(5%)scaleY(0.8);
    
}

.hiddenSB{
    background-color: lightgray
}


#export_dropup{
    position: relative;
	float: left;
}

.aform{
    margin: 0; 
    background-color: rgba( 0, 0, 0, 0 ); 
    width: 100%;
    float: left
}

.key-pap{
    font-weight: 100;
    color:blue;
}
#import {
    font-size: 1em;
    color: #419ceb
}

#import_label {
	/* cursor: pointer; */
	width: 80px;
	height: 22px;
	color: #3484ca;
	border-color: lightblue;
	border-width: 1px;
}

#export_label {
	/* cursor: pointer; */
	width: 80px;
	height: 22px;
	font-size: 0.62em;
	color: #3484ca;
	border-color: lightblue;
	border-width: 1px;
}

#download_link{
    cursor: pointer;
    color: blue;
}


.tb_labels {
    float: left;
    font-size: 0.7em;
    font-variant-caps: petite-caps; 
    color: #385e84; 
    font-weight: bold;
}



.ds_btn {
	font-size: 0.7em;
	width: 105px;
	height: 35px;
	color: #3484ca;
	border-width: 0;
	border-radius: 12%;
	background-color: rgba( 191, 191, 191, 0.105 );
}

.tjr {
    height: 30px;
}

.jrow {
	width: 33%;
    text-align: center;
}

.j-btn {
    width: 100%;
    border-width: 0px;
    
}
.j-btn:hover {
     cursor: pointer;
    background-color: lightgray;
}

.query-btn{
    background-color: transparent;
}

.qalt {
    background-color: transparent;
}

.confirm_parse{
    background-color: transparent;
}

.confirm_parse:hover {
    background-color: #d2e3f3;
}


.query-btn:hover{
    background-color: #d2e3f3;
}

.qalt:hover {
    background-color: #e5f5ff;
}

.j-text-stat {
    font-style: italic;
}

#init-table {
    margin-left: 7%;
}

#jTable {
    width: 70%;
}

.jrect{
    border: 0px;
    border-radius: 30%;
    cursor: pointer;
    
}

#ui-id-2{
    border: 0px;
    pointer-events: none;
}

#biblio-txt{
    width: 100%;
    height: 80%;
    border: 0px;
    resize: none
}

#biblio-dialog{
    overflow: auto;
    min-height: 550px;
    min-width: 350px;
}

#cit-btn{
    float: right;
    border: 0px;
    width: 60px;
    height: 20px;
    background-color: lightgray;
    margin-top: 6px;
    border-radius: 17%;
}

.query{
    font-size: 0.73em
}

.query_ok{
    color:#2da115
}

.unc_red{
    color:#d64444
}

table#query_tab {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 99%;
}

table#query_tab td {
  border: 0px solid #dddddd;
  text-align: left;
  padding: 4px;
}

table#query_tab tr:nth-child(even) {
  background-color: lightgray;/*#d2e3f3;*/
}


table#import-table th {
    font-size: 1em;
    font-weight: bold;
}


table#import-table td {
    font-size: 0.9em;
    font-style: italic;
    text-align: center
}
.td3 {
    width: 68%
}

.cpbtn {
    border:0px;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    background: none; 
    float: right;
}

.cpbtn:hover{background-color: #e8e8e8}

.cpbtn:hover{
    cursor: pointer;
    
}

.cpimg {
    width: 21px;
    height: 19px;
}

.dbtn:hover{cursor: pointer;background-color: #e8e8e8}

