body .panel {
    background-color: rgba( 71, 66, 66, 0 );
}

body {
    background-color: rgba( 71, 66, 66, 0.1 );
}

.panel-collapse {
    max-height: 120px;
    overflow-y: scroll;
}

.panel-title:hover {
     cursor: pointer;
}

.panel-default {
    margin-bottom: 0px;
}

#toolbox {
    height: 185px;
    overflow-y: scroll;
}

#searchfield { display: block; width: 100%; text-align: center; margin-bottom: 35px;}

#searchfield form {
  display: inline-block;
  background: #eeefed;
  padding: 0;
  margin: 0;
  padding: 5px;
  border-radius: 3px;
  margin: 5px 0 0 0;
}

#searchfield {
    margin-bottom: 10px;
}

#searchfield form .biginput {
  width: 600px;
  height: 40px;
  padding: 0 10px 0 10px;
  background-color: #fff;
  border: 1px solid #c8c8c8;
  border-radius: 3px;
  color: #aeaeae;
  font-weight:normal;
  font-size: 0.9em;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
#searchfield form .biginput:focus {
  color: #858585;
}

svg {
    overflow-x: scroll;
} 

.autocomplete-suggestions { border: 1px solid #999; background: #fff; cursor: default; overflow: auto;}
.autocomplete-suggestion { padding: 10px 5px; font-size: 0.9em; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #f0f0f0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399ff; }

.links line {
  stroke: #999;
  stroke-opacity: 0.6;
}

.nodes circle {
  stroke-width: 1px;
  cursor: pointer
}