html, body, .container-fluid {
    height:100%;
}

.panel-default {
    background-color:  rgba( 255, 255, 255, 0 );
    border: 0px;
    border-radius: 5px;
}

.graph {
    background-color:  #efefef;
    border: 0px;
}

.sidebar-nav {
    height: inherit;
}

#sidenav {
    overflow-x: auto;
    padding: 5px;
}

body {
    background-color: rgba( 223, 225, 225, 0.604 );
}

#cmp {
    cursor: help;
}

.delete-btn {
    background-color:transparent; 
    border-radius: 10px;
    transform: translateY(-10%);
    border-width: 0px;
    padding: 0px;
    background-color: rgba( 191, 191, 191, 0.0 );
}

.delete-img{
    transform: translateY(0%);
    width: 20px;
    height: 20px;
}

p {
    margin: 0;
}

.colorP {
    width: 20px;
    height: 20px;
    padding: 0px;
    margin: 0px;
    border-radius: 5px;
}

.panel-collapse {
    max-height: 97px;
    overflow-y: auto;
}

.al {
    max-height: 40px;
    overflow-y: auto;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#authViz {
    background-color: rgba( 224, 225, 225, 0.204 );
    border-radius: 5px;
    border-width: 1px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    width: 90%;
    font-size: 0.9em;
}

#tbRow4 {
    margin: 1px;
    padding-top: 2px;
    height: 30px
}

text {
    pointer-events: none;
}

#tb-svg {
    height: 100%;
    width: 40%;
    position: absolute;
    pointer-events: none;
    transform: translateY(-80%);
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}


.stat {
    font-size: 0.8em;
    font-style: italic;
}

#authTable {
    height: 98%;
}

.authNode {
    cursor: pointer
}

.authLine {
    height: 16px;
    padding: 1px;
}
.authline {
    height: 99%;
    padding: 0px;
}

.auth-name {
    cursor: pointer
}

.stat {
    text-align: center;
}


.svgA {
    width: 100%;
    height: 18px;
    padding: 0;
}


a {
    cursor:auto;
}

.panel-title:hover {
     cursor: pointer;
}

.panel-default {
    margin-bottom: 0px;
}

a {
    padding 2px;
    text-rendering: optimizeLegibility;
    color: #6666a3
}

.panel-heading {
    padding: 0px;
    height: 16px;
    background-color: black;
}

.panelDefault {
    background-color: black;
    padding: 0px;
}

.list-group {
    margin-top: 1px;
    margin-bottom: 1px;
}

.panel-body{
    padding:5px;
}

td.list-group-item {
    width: 100%;
}

.trP{
    border: 1px solid rgba( 122, 122, 122, 0.533 );
    border-right: 0px;
    border-left: 0px;
    cursor: pointer;
    
}

.thP{
    padding-left: 2px;
    padding-right: 4px;
    width: 100px;
    font-size: 0.9em
}

#paperInfo{
    font-size: 0.9em;
}

.list-group-item {
    background-color: rgba( 71, 66, 66, 0);
    padding: 1px;
    border-width: 0;
    width: 100%;
    border-radius: 4px;
    cursor: pointer;
}

.listG {
    cursor: default;
}

#papL {
    max-height: 80px;
    overflow-y: auto;
    overflow-x: auto;
    font-size: 0.9em;
}

#aal {
    max-height: 40px;
    overflow-y: auto;
    font-size: 0.9em;
}

.element {
    border-top: 1px solid rgba( 122, 122, 122, 0.449 );}

#pi {   
    max-height: 245px;
    overflow-y: auto;
}

#toolbox {
    height: 100%;
    overflow-y: auto;
}

.line{
    cursor: not-allowed;
}

#thetaPap {
    transform: translate(5%, 2px);
    width: 90.5%
}

#MNP, #MNoC   {
    cursor: help
}

#thetaPapCb{
    cursor: help
}

#searchfield { 
    display: block; 
    width: 100%; 
    text-align: center;}

.row {
    padding 2px;
}

#searchfield form {
  display: inline-block;
  background: #eeefed;
  padding: 0;
  margin: 0;
  padding: 5px;
  border-radius: 3px;
  margin: 5px 0 0 0;
}

#searchfield form .biginput {
  width: 600px;
  height: 25px;
  padding: 0 3px 0 3px;
  background-color: #fff;
  border: 0;
  border-radius: 3px;
  color: #aeaeae;
  font-weight:normal;
  font-size: 0.9em;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
#searchfield form .biginput:focus {
  color: #858585;
}

svg {
    overflow-x: scroll;
} 

.autocomplete-suggestions { border: 1px solid #999; background: rgba( 234, 234, 234, 0.934 ); cursor: default; overflow: auto;}
.autocomplete-suggestion { padding: 10px 5px; font-size: 0.9em; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #f0f0f0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399ff; }

.links line {
  stroke: #999;
  stroke-opacity: 0.6;
}

.nodes circle {
  stroke-width: 1px;
  cursor: pointer
}
